<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Order Rice</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="layout.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="main.js"></script>
  </head>
  <body>
  <div id="container" class="container text-center">
    <div id="content" class="col-xs-12">
      <div class="loading">Loading...</div>
    </div>
    <div id="order" class="col-xs-12 order d-flex"  style="display: none;">
      <table border="1">
        <thead>
          <tr>
            <th colspan="3">Summary</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td id="orderCount"></td>
            <td id="orderMoney"></td>
          </tr>
        </tfoot>
      </table>
      <textarea class="form-control" readonly></textarea>
    </div>
  </div>

  <div id="dialog-register" title="Register">
    <label id="register_label">Who are you?</label>
    <input id="register_name"/>
  </div>

  </body>
</html>
